@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Produto //anotação para utilizar a classe Cliente

<h1>Detalhes do Produto</h1>

Id: @Model.ProdutoId
<br />
Nome Cliente: @Model.NomeProduto<br />
Valor Produto: @Model.Valor<br />
Estoque Incial: @Model.Estoque<br />
<br />
